node_modules
node-v20.*-win-x64/
.playwright-cli/
node20.zip
SHASUMS256.txt
dist
dist-ext
*.log
*.tsbuildinfo
vite.config.js
vite.config.d.ts
mastermind-ext-v*.zip
mstrmnd-ext-v*.zip

/private/*
!/private/*.md
